<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <%=render 'HojasDeEstilos'%>
    <%=render 'barraU'%>
  </head>
  <body>
    <%=render 'carrusel'%>
<%=render 'parallax'%>



<%=render 'footer'%>
<%=render 'scripts'%>
  </body>
</html>
