<p id="notice"><%= notice %></p>

<p>
  <strong>Nombrec:</strong>
  <%= @pilot.nombrec %>
</p>

<p>
  <strong>Ncedula:</strong>
  <%= @pilot.ncedula %>
</p>

<p>
  <strong>Nlicencia:</strong>
  <%= @pilot.nlicencia %>
</p>

<p>
  <strong>Fcontratacion:</strong>
  <%= @pilot.fcontratacion %>
</p>

<%= link_to 'Edit', edit_pilot_path(@pilot) %> |
<%= link_to 'Back', pilots_path %>
